* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 95%, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(40, 70, 140, 0.2);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(130, 130, 130);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(100, 100, 100);
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 65px;
  gap: 20px;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 0 70px;
}
header .logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo_container h1 {
  font-size: 24px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
}
header .input-container {
<<<<<<< HEAD
  width: 25%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}
header .input-container input {
  text-indent: 34px;
  font-family: "Roboto", sans-serif;
  border: 2px solid rgba(20, 20, 20, 0.5);
  border-radius: 15px;
  background: #404040 url(../img/search_img.svg);
  background-repeat: no-repeat;
  background-position: 7px 50%;
  color: #FFFFFF;
  font-size: 14px;
  width: 100%;
  height: 33px;
}
header .input-container input::placeholder {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  color: #DDDDDD;
}
header .input-container input:hover {
  border-color: rgba(100, 100, 100, 0.5);
}
header .input-container input:focus {
  border: 2px solid;
  border-color: rgba(160, 160, 160, 0.5);
  outline: none;
}
header .input-container.focus input::placeholder {
  margin-left: 0;
}
header .buttons__box {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .buttons__box button, header .buttons__box a {
=======
>>>>>>> DenisPro
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: 17%;
  gap: 20px;
  width: 100%;
  max-width: 544px;
  min-width: 150px;
}
header .input-container input {
  width: 100%;
  height: 40px;
  padding: 15px;
  border-radius: 40px;
  border: 1px solid #e8edf3;
  font-family: "Roboto", sans-serif;
  color: #404040;
  background: #f6f6f7;
  font-size: 14px;
  padding-right: 32px;
}
header .input-container input::placeholder {
  position: absolute;
  font-weight: 500;
  color: #6b7280;
}
header .input-container input:hover {
  border-color: rgb(180, 180, 180);
}
header .input-container input:focus {
  border: 2px solid rgb(120, 120, 120);
  outline: none;
}
header .input-container svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
}
header .buttons__box {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
header .buttons__box svg {
  width: 24px;
  height: 24px;
}
header .buttons__box .sign_in_btn, header .buttons__box .notification {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
header .buttons__box .notification {
  position: relative;
  font-size: 14px;
  color: #404040;
}
header .buttons__box .notification .badge {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  top: 3px;
  right: 3px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: #ff4f4f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}
header .buttons__box .sign_in_btn:hover, header .buttons__box .notification:hover {
  background-color: #efefef;
}
header .buttons__box .sign_in_btn:active, header .buttons__box .notification:active {
  background-color: #dedede;
}

main {
  display: grid;
  position: relative;
  background-color: #fcfcfc;
  width: 100%;
  top: 65px;
  grid-template-columns: 18% 1fr 22%;
  z-index: 1;
}
main .left-sidebar {
  width: 100%;
  min-width: 215px;
  background-color: #FFFFFF;
  border-right: 1px solid #bcbcbc;
  position: relative;
}
main .left-sidebar .menu {
  display: flex;
  position: sticky;
  overflow-y: auto;
  top: 65px;
}
main .left-sidebar .menu .menu-content {
  max-height: calc(100vh - 65px);
}
main .left-sidebar .menu .menu-content .menu__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 15px;
  position: relative;
}
main .left-sidebar .menu .menu-content .menu__block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6%;
  width: 90%;
  border: 1px solid #e9e9e9;
  margin: 0 auto;
  border-radius: 20px;
}
main .left-sidebar .menu .menu-content .menu__block button {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
main .left-sidebar .menu .menu-content .menu__block button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
main .left-sidebar .menu .menu-content .menu__block button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
main .left-sidebar .menu .menu-content .menu__block button .arrow {
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}
main .left-sidebar .menu .menu-content .menu__block button .arrow.open {
  transform: rotate(180deg);
}
main .left-sidebar .menu .menu-content .menu__block .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  margin-top: -10px;
}
main .left-sidebar .menu .menu-content .menu__block .content.expanded {
  max-height: 700px;
}
main .left-sidebar .menu .menu-content .menu__block .content .checkbox__container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
}
main .left-sidebar .menu .menu-content .menu__block .content .checkbox__container label {
  display: flex;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
main .left-sidebar .menu .menu-content .menu__block .content .checkbox__container input {
  position: relative;
  border: 2px solid rgba(33, 37, 41, 0.52);
  outline: none;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  appearance: none;
}
main .left-sidebar .menu .menu-content .menu__block .content .checkbox__container input:checked {
  background-color: #2a83f2;
}
main .left-sidebar .menu .menu-content .menu__block .content .checkbox__container input:checked::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='11' viewBox='0 0 14 11' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.518211 5.58921C0.843648 5.26377 1.37129 5.26377 1.69672 5.58921L4.643 8.53549L12.3033 0.875165C12.6288 0.549728 13.1564 0.549729 13.4818 0.875166C13.8073 1.2006 13.8073 1.72824 13.4818 2.05368L5.23226 10.3033C4.90682 10.6287 4.37918 10.6287 4.05374 10.3033L0.518211 6.76772C0.192774 6.44229 0.192774 5.91465 0.518211 5.58921Z' fill='white' /></svg>");
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container label {
  padding: 10px;
  border-radius: 5px;
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input {
  display: none;
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .gf-label {
  outline: 2px solid rgb(183, 230, 143);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .isf-label {
  outline: 2px solid rgb(233, 108, 89);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .mtf-label {
  outline: 2px solid rgb(80, 103, 147);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .fit-label {
  outline: 2px solid rgb(0, 96, 166);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .fef-label {
  outline: 2px solid rgb(254, 198, 0);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .fkne-label {
  outline: 2px solid rgb(85, 9, 172);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container input:checked + .uf-label {
  outline: 2px solid rgb(1, 187, 186);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .gf-label:hover {
  outline: 2px solid rgba(183, 230, 143, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .isf-label:hover {
  outline: 2px solid rgba(233, 108, 89, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .mtf-label:hover {
  outline: 2px solid rgba(80, 103, 147, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .fit-label:hover {
  outline: 2px solid rgba(0, 96, 166, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .fef-label:hover {
  outline: 2px solid rgba(254, 198, 0, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .fkne-label:hover {
  outline: 2px solid rgba(85, 9, 172, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container .uf-label:hover {
  outline: 2px solid rgba(1, 187, 186, 0.5);
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container label {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container label img {
  width: 40px;
  height: 46px;
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container label .teg_container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}
main .left-sidebar .menu .menu-content .menu__block .content.faculty .checkbox__container label .teg_container p {
  font-size: 12px;
  color: rgb(140, 140, 140);
}
main .posts-container {
  display: flex;
  flex-direction: column;
  background: #fbfaff;
  gap: 20px;
  padding: 25px;
}
main .posts-container .post {
  position: relative;
  width: 100%;
  padding: 25px;
  border: 1px solid #e8edf3;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
main .posts-container .post .user__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .posts-container .post .user__info .user_img {
  border: 2px solid #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}
main .posts-container .post .user__info .user_details {
  font-family: "Roboto", sans-serif;
}
main .posts-container .post .user__info .user_details .user_name {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
main .posts-container .post .user__info .user_details .time_of_creation {
  font-size: 14px;
  color: rgba(78, 78, 78, 0.6901960784);
}
main .posts-container .post .post__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0 20px 0;
}
main .posts-container .post .post__content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
main .posts-container .post .post__content p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #6b7280;
  text-align: justify;
}
main .posts-container .post .post__items {
  display: flex;
  align-items: center;
  gap: 13px;
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
}
main .posts-container .post .post__items .likes, main .posts-container .post .post__items .comments, main .posts-container .post .post__items .favorites {
  display: flex;
  gap: 5px;
}
main .posts-container .post .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
main .posts-container .post .post__category_img {
  position: absolute;
  right: 25px;
  top: 25px;
}
main .posts-container .post .post__category_img img {
  width: 32px;
  height: 32px;
}
main .posts-container .post .post__category_text {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #374151;
}
main .right-sidebar {
  padding: 25px 10px;
  width: 100%;
  background-color: #FBFAFF;
}
main .right-sidebar .scheduled_box {
  display: flex;
  position: sticky;
  top: 90px;
  gap: 20px;
  margin-right: 20px;
  flex-direction: column;
}
main .right-sidebar .scheduled_box .personal_events, main .right-sidebar .scheduled_box .subscribed_events {
  width: 100%;
  border: 1px solid #e8edf3;
  border-radius: 10px;
  padding: 15px 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
main .right-sidebar .scheduled_box .events_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #202020;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
main .right-sidebar .scheduled_box .items {
  margin-top: 20px;
}
main .right-sidebar .scheduled_box .items .item {
  display: flex;
  align-items: center;
  padding: 10px;
}
main .right-sidebar .scheduled_box .items .item:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}
main .right-sidebar .scheduled_box .items .item span {
  align-self: flex-start;
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #6b7280;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__box {
  transform: translateY(-20px);
}
.modal .modal__box {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 70%;
  border: 2px solid rgba(33, 37, 41, 0.12);
  border-radius: 20px;
  height: fit-content;
  background: #fff;
  padding: 25px;
  transform: translateY(20px);
  transition: transform 0.5s;
}
.modal .modal__box label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  font-weight: 500;
}
.modal .modal__box input {
  border: 2px solid rgba(33, 37, 41, 0.12);
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 12px;
  width: 70%;
  height: 45px;
  padding: 8px 16px;
}
.modal .modal__box h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.modal .modal__box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 9%;
}
.modal .modal__box form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal .modal__box form .form-group label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
}
.modal .modal__box form .form-group input[type=datetime-local] {
  width: min-content;
}
.modal .modal__box form .form-group .btn_group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.modal .modal__box form .form-group .btn_group button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid rgba(33, 37, 41, 0.12);
  height: 38px;
  gap: 5px;
  border-radius: 10px;
  padding: 7px 9px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.modal .modal__box form .form-group .btn_group button:hover {
  border-color: rgba(60, 60, 60, 0.5);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}
.modal .modal__box form .form-group .btn_group button.selected {
  border: 2px solid #2a83f2;
}
.modal .modal__box form .form-group .btn_group img {
  width: 27px;
  height: auto;
}
.modal .modal__box form .form-group textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 2px solid rgba(33, 37, 41, 0.12);
  border-radius: 12px;
  padding: 8px 16px;
  width: 100%;
  height: 105px;
  resize: none;
}
.modal .modal__box form .form-group textarea::-webkit-scrollbar {
  width: 8px;
}
.modal .modal__box form .form-group textarea::-webkit-scrollbar-track {
  margin: 4px;
  border-radius: 12px;
}
.modal .modal__box input, .modal .modal__box textarea {
  transition: border-color 0.3s ease;
}
.modal .modal__box input:hover, .modal .modal__box textarea:hover {
  border-color: rgba(60, 60, 60, 0.5);
}
.modal .modal__box input:focus, .modal .modal__box textarea:focus {
  border-color: rgba(60, 60, 60, 0.9);
  outline: none;
}
.modal .buttons__container {
  display: flex;
  gap: 16px;
  width: 100%;
}
.modal .buttons__container input {
  width: 100%;
  height: 52px;
  border-radius: 16px;
  padding: 14px 16px;
  text-align: center;
  font-weight: 700;
  border: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.modal .buttons__container input[type=submit] {
  background-color: rgba(33, 37, 41, 0.04);
}
.modal .buttons__container input[type=submit]:hover {
  background-color: rgba(33, 37, 41, 0.12);
}
.modal .buttons__container input[type=submit]:active {
  background: rgba(33, 37, 41, 0.28);
}
.modal .buttons__container input[type=reset] {
  background: rgba(42, 131, 242, 0.12);
  color: #2a83f2;
}
.modal .buttons__container input[type=reset]:hover {
  background-color: rgba(42, 131, 242, 0.2);
}
.modal .buttons__container input[type=reset]:active {
  background-color: rgba(42, 131, 242, 0.28);
}

/*# sourceMappingURL=style.css.map */
