@model PSULive.Controls.HomeController.PostViewModel
   
    <div class="modal__box">
        <h2>Новое мероприятие</h2>
    <form asp-action="Edit" asp-controller="home" method="post"  id="EventsForm">
            <div class="form-group">
                <label asp-for="NewPost.Title">Введите название</label>
                <input asp-for="NewPost.Title" class="form-control" placeholder="Название" required />
                <span asp-validation-for="NewPost.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPost.OnSpecialDate">Дата проведения</label>
                <input asp-for="NewPost.OnSpecialDate" class="form-control" type="datetime-local" required />
                <span asp-validation-for="NewPost.OnSpecialDate" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label for="category">Выберите категорию</label>
            <select name="category">
                <option value="Здоровье и Спорт">Здоровье и Спорт</option>
                <option value="Выступления">Выступления</option>
                <option value="Образование">Образование</option>
                <option value="Технологии">Технологии</option>
                <option value="Работа">Работа</option>
                <option value="Общее">Общее</option>
            </select>
        </div>

        <!--<label asp-for="NewPost.Category">Выберите категорию</label>
                           <input asp-for="NewPost.Category" class="form-control" type="text" /> !-->

            <div class="form-group">
                <label asp-for="NewPost.Description">Содержание</label>
                <textarea asp-for="NewPost.Description" class="form-control" placeholder="Опишите мероприятие" required></textarea>
                <span asp-validation-for="NewPost.Description" class="text-danger"></span>
            </div>
            <div class="buttons__container">
                <input type="submit" value="Сохранить">
                <input type="reset" value="Отмена" onclick="toggleModal('EventsCreater', 'close')">
            </div>
        </form>
    </div>
