* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-family: "Roboto", sans-serif;
    --default-size: 16px;
    --middle-size: 14px;
    --place-holder-color: #DDDDDD;
    --primary-color: #FFFFFF;
    --background-overlay-light: rgba(33, 37, 41, 0.52);
    --content-content-border: rgba(33, 37, 41, 0.12);
    --content-content-constant: #fff;
    --content-content-disabled: rgba(33, 37, 41, 0.28);
    --content-content-background: rgba(33, 37, 41, 0.04);
    --accent-accent-border: rgba(42, 131, 242, 0.2);
    --accent-accent-primary: #2a83f2;
    --accent-accent-disabled: rgba(42, 131, 242, 0.28);
    --accent-accent-background: rgba(42, 131, 242, 0.12);
}

html, body {
    height: 100%;
    font-family: var(--first-family);
    line-height: 1.6;
    color: black;
}
/*============Загловок============*/
header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    background: #202020;
    gap: 20px;
    z-index: 2;
    padding-right: 25px;
}

.input-container {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
}

    .input-container input {
        font-family: var(--font-family);
        border: 1px solid rgba(20, 20, 20, 0.5);
        border-radius: 15px;
        background: #404040;
        color: var(--primary-color);
        font-size: var(--middle-size);
        padding: 15px;
        width: 100%;
        height: 33px;
    }

        .input-container input::placeholder {
            font-family: var(--first-family-family);
            position: absolute;
            font-weight: 500;
            font-size: 14px;
            color: var(--place-holder-color);
            margin-left: 18px;
        }

    .input-container.focus input::placeholder {
        margin-left: 0;
    }

    .input-container img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        width: 25px;
    }

    .input-container input:hover {
        border-color: rgba(100, 100, 100, 0.5);
    }

    .input-container input:focus {
        border: 2px solid;
        border-color: rgba(160, 160, 160, 0.5);
        outline: none;
    }

.buttons__box {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header button, header a {
    display: flex;
    position: relative;
    align-items: center;
    font-family: var(--first-family-family);
    font-weight: 500;
    font-size: var(--middle-size);
    color: var(--content-content-constant);
    border-radius: 52px;
    margin-right: 20px;
    padding: 10px;
    height: 37px;
    background: #404040;
    outline: none;
    border: none;
    cursor: pointer;
}

    .notification:hover, header button:hover {
        background-color: #4e4e4e;
    }

    .notification:active, header button:active {
        background-color: #747474;
    }

.notification .badge {
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    top: -8px;
    right: -8px;
    padding: 1px 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}

main {
    display: grid;
    position: relative;
    background-color: #fcfcfc;
    height: 100%;
    top: 65px;
    grid-template-columns: 1fr 330px;
    z-index: 1;
}

.left-sidebar {
    position: fixed;
    background-color: #FFFFFF;
    height: calc(100% - 65px);
    overflow-y: auto;
    width: 272px;
    border-right: 1px solid #bcbcbc;
}

.menu__block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 10px;
    width: 100%;
    position: relative;
}

    .menu__block::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 6%;
        width: 88%;
        height: 1px;
        background-color: #bcbcbc;
        border-radius: 20px;
    }

    .menu__block button {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 40px;
        gap: 10px;
        font-family: var(--primary-family);
        font-size: var(--middle-size);
        line-height: 20px;
        background-color: transparent;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.1s linear;
    }

        .menu__block button:hover {
            background-color: rgb(0, 0, 0, 0.2);
        }

        .menu__block button:active {
            background-color: rgb(0, 0, 0, 0.3);
        }

.toggleBtn {
    background-color: black;
}

.arrow {
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

    .arrow.open {
        transform: rotate(180deg);
    }

.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

    .content.expanded {
        max-height: 500px;
    }

.checkbox__container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

    .checkbox__container label {
        font-family: var(--primary-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000;
    }

    .checkbox__container input[type="checkbox"] {
        position: relative;
        border: 2px solid var(--background-overlay-light);
        outline: none;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        appearance: none;
    }

        .checkbox__container input[type="checkbox"]:checked {
            background-color: var(--accent-accent-primary); /* Задний фон становится синим */
        }

        .checkbox__container input[type="checkbox"]::after {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='11' viewBox='0 0 14 11' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.518211 5.58921C0.843648 5.26377 1.37129 5.26377 1.69672 5.58921L4.643 8.53549L12.3033 0.875165C12.6288 0.549728 13.1564 0.549729 13.4818 0.875166C13.8073 1.2006 13.8073 1.72824 13.4818 2.05368L5.23226 10.3033C4.90682 10.6287 4.37918 10.6287 4.05374 10.3033L0.518211 6.76772C0.192774 6.44229 0.192774 5.91465 0.518211 5.58921Z' fill='white' /></svg>");
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        .checkbox__container input[type="checkbox"]:checked::after {
            display: block;
        }

    .checkbox__container img {
        width: 27px;
        height: 30px;
    }
/* Ширина полосы прокрутки */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}
/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
/* Цвет и стиль полосы прокрутки */
::-webkit-scrollbar-thumb {
    background-color: rgb(160, 160, 160);
    border-radius: 6px;
}
    /* Изменение цвета полосы прокрутки при наведении */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(130, 130, 130);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: rgb(100, 100, 100);
    }
/*=======================*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

    .modal.open {
        visibility: visible;
        opacity: 1;
    }

.modal__box {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: var(--size-default);
    font-family: var(--first-family);
    border: 2px solid var(--content-content-border);
    border-radius: 20px;
    width: 552px;
    height: fit-content;
    background: var(--content-content-constant);
    padding: 25px;
    transform: translateY(20px);
    transition: transform .5s;
}

.modal.open .modal__box {
    transform: translateY(-20px);
}

.modal__box h2 {
    display: block;
    font-family: var(--first-family);
    color: var(--content-content-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.modal__box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 38px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-family: var(--first-family-family);
    font-size: var(--size-default);
    line-height: 24px;
    margin-left: 10px;
}

.modal__box input {
    border: 2px solid var(--content-content-border);
    background: var(--content-content-constant);
    font-family: var(--first-family);
    font-size: var(--default-size);
    border-radius: 12px;
    width: 375px;
    height: 45px;
    padding: 8px 16px;
}

.form-group input[type="datetime-local"] {
    width: 200px;
}

.modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

    .modal.open .modal__box {
        transform: scale(1);
    }

.btn_group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

    .btn_group button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        gap: 5px;
        border: 2px solid var(--content-content-border);
        border-radius: 10px;
        padding: 5px 11px;
        height: 38px;
        font-size: var(--size-default);
        font-family: var(--first-family);
        transition: all 0.3s ease-out;
        cursor: pointer;
    }

        .btn_group button:hover {
            border-color: rgb(60, 60, 60, 0.5);
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.05);
            transform: translateY(-2px);
        }

        .btn_group button.selected {
            border: 2px solid var(--accent-accent-primary);
        }

    .btn_group img {
        width: 30px;
        height: 30px;
    }

.modal__box textarea {
    font-family: var(--first-family);
    font-size: var(--size-default);
    border: 2px solid var(--content-content-border);
    border-radius: 12px;
    padding: 8px 16px;
    width: 100%;
    height: 105px;
    resize: none;
}

    .modal__box textarea::-webkit-scrollbar {
        width: 8px;
    }

    .modal__box textarea::-webkit-scrollbar-track {
        margin: 4px;
    }

    .modal__box textarea::-webkit-scrollbar-track {
        border-radius: 12px;
    }

.modal__box input[type="submit"] {
    margin-left: 10px;
    font-size: 15px;
    font-size: var(--size-default);
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
}

.buttons__container {
    display: flex;
    gap: 16px;
}

    .buttons__container input {
        border-radius: 16px;
        padding: 14px 16px;
        width: 243px;
        height: 52px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
    }

        .buttons__container input[type="submit"] {
            background-color: var(--content-content-background);
        }

            .buttons__container input[type="submit"]:hover {
                background-color: var(--content-content-border);
            }

            .buttons__container input[type="submit"]:active {
                background: var(--content-content-disabled);
            }

        .buttons__container input[type="reset"] {
            background: var(--accent-accent-background);
            color: var(--accent-accent-primary);
        }

            .buttons__container input[type="reset"]:hover {
                background-color: var(--accent-accent-border);
            }

            .buttons__container input[type="reset"]:active {
                background-color: var(--accent-accent-disabled);
            }

.modal__box input, .modal__box textarea {
    transition: border-color .3s ease;
}

    .modal__box input:hover, .modal__box textarea:hover {
        border-color: rgb(60, 60, 60, 0.5);
    }

    .modal__box input:focus, .modal__box textarea:focus {
        border-color: rgb(60, 60, 60, 0.9);
        outline: none;
    }

.posts-container {
    margin-left: 272px;
    display: flex;
    flex-direction: column;
    background: #fbfaff;
    gap: 20px;
    padding: 25px;
}

.post {
    position: relative;
    width: 100%;
    padding: 25px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    background: var(--content-content-constant);
}

.user__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_img {
    border: 2px solid var(--content-content-constant);
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.user_details {
    font-family: var(--first-family);
}

.user_name {
    font-weight: 500;
    font-size: var(--default-size);
    color: #000;
}

.time_of_creation {
    font-size: var(--middle-size);
    color: #6b7280;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0 20px 0;
    font-family: var(--first-family);
}

    .post__content h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #000;
    }

    .post__content p {
        font-weight: 400;
        font-size: var(--default-size);
        line-height: 24px;
        line-height: 162%;
        color: #6b7280;
        text-align: justify;
    }

.post__items {
    display: flex;
    align-items: center;
    gap: 13px;
    line-height: 20px;
    font-weight: 500;
    font-size: var(--middle-size);
}

    .post__items :where(.likes, .comments, .favorites) {
        display: flex;
        gap: 5px;
    }

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post__category_img {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .post__category_img img {
        width: 32px;
        height: 32px;
    }

.post__category_text {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-family: var(--first-family);
    font-weight: 500;
    font-size: var(--middle-size);
    text-align: center;
    color: #374151;
}

.right-sidebar {
    padding: 25px 10px;
    width: 100%;
    background-color: #FBFAFF;
}

.scheduled_box {
    display: flex;
    position: sticky;
    top: calc(65px + 25px);
    gap: 20px;
    margin-right: 20px;
    flex-direction: column;
}

.personal_events, .subscribed_events {
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--content-content-constant);
    box-sizing: border-box;
}

.personal_events, .subscribed_events {
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--content-content-constant);
    box-sizing: border-box;
}

.conent_header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    font-family: var(--first-family);
    font-weight: 700;
    font-size: var(--middle-size);
    line-height: 24px;
    color: #202020;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
}

.items {
    margin-top: 20px;
}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.line {
    border: 1px solid #bcbcbc;
    margin: 0 auto;
    width: 100%;
}

.item span {
    margin-right: 10px;
}
